@charset "UTF-8";




#cate_nav{
    position: relative;
    bottom: 0;
    /* height: 60px; */
    line-height: 60px;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.08);
    border-bottom: 1px solid rgba(0,0,0,.08);
    /* 가로스크롤 */
    overflow: auto;
    white-space: nowrap;
    
}
#cate_nav > a{
        font-weight: bold;
        color: #353535;
        display: inline-block;
        padding: 10px 15px;
        line-height: 1;
        text-decoration: none;
    }
