/* body {
	background-color: #333;
	width: 500px;
	margin: 30px auto;
} */
/* .menu-trigger {
	margin-right: 70px;
	margin-bottom: 50px;
} */
.navbar-brand{
	margin-top: 9px;
	margin-left: 12px;
	margin-right: 20px;
}
.rightmenu{
	margin-right: 12px;
}
.menu-trigger,
.menu-trigger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}

.menu-trigger {
	position: relative;
	width: 25px;
	height: 22px;
	z-index: 6;
}

.menu-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #444444;
	border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
	top: 2px;
}

.menu-trigger span:nth-of-type(2) {
	top: 13px;
}

.menu-trigger span:nth-of-type(3) {
	bottom: 2px;
}


/* type-02 */
/* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인  회전하며 엑스자 만들기 */
.menu-trigger.active-1 span:nth-of-type(1) {
	-webkit-transform : translateY(11px) rotate(-315deg);
	transform : translateY(11px) rotate(-315deg);
}
.menu-trigger.active-1 span:nth-of-type(2) {
	opacity : 0;
}
.menu-trigger.active-1 span:nth-of-type(3) {
	-webkit-transform : translateY(-11px) rotate(315deg);
	transform : translateY(-11px) rotate(315deg);
}



.menu_btn{
	text-align:left;
	padding: 10px;

}
.sidebar_menu{
	display: none;
	width: 20%;
	height: 100%;
	background: #345f0ade;
	position: absolute;
	top:0;
	left: -100%;

	position: absolute;
    z-index: 5;
}
.close_btn{
	width: 25px;
	height: 25px;
	margin:10px;
}
.close_btn > a{
	display: block;
	width: 100%;
	height: 100%;
}
.menu_wrap{
	list-style: none;
	padding: 20px 20px;
}
.menu_wrap li a{
	color: white;
	text-decoration: none;
}
