*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f7f7f7;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}



.li_table{
    border-collapse:collapse;
    border-color:#ccc;
    border-spacing:0;
    text-align:center;
    width: 80%;
    margin: 0 auto;
}

.li_table ul {
    clear: left;
    margin: 0;
    padding: 0;
}

.li_table ul li {
    text-align: center;
    float: left;
    width: 19%;
}

.menu{
    background-color:#f0f0f0;
    border-color:#ccc;
    border-style:solid;
    border-width:1px;
    color:#333;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.list{
    background-color:#fff;
    border-color:#ccc;
    border-style:solid;
    border-width:1px;
    color:#333;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}