.tg  {
    border-collapse:collapse;
    border-color:#ccc;
    border-spacing:0;
}

.tg td{
    background-color:#fff;
    border-color:#ccc;
    border-style:solid;
    border-width:0px;
    color:#333;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
        
.tg th{
    background-color:#f0f0f0;
    border-color:#ccc;
    border-style:solid;
    border-width:0px;
    color:#333;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-af47{
    background-color:#ffffff;
    border-color:inherit;
    color:#000000;  
    vertical-align:top
}

.name{
    text-align:left;
}
.con{
    text-align:center;
}

.tg .tg-daby{
    background-color:#c9de73;
    border-color:inherit;
    color:#000000;
    text-align:center;
    vertical-align:top
}

.tg .tg-10pf{
    background-color:#c9de73;
    text-align:left;
    vertical-align:top
}

.mainStreet{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    padding-top: 10%;
    padding-bottom: 5%;
}