*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f7f7;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}



.col{
    float: left;
}

.orderlist{
    width: 50%;
    margin: 0 auto;
}

.orderlist_box{
    border: 1px solid #ddd;
    background-color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}