<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
	   	<typeAlias type="java.lang.Long" alias="Long"/>
   		<typeAlias type="java.util.List" alias="List"/>
   		<typeAlias type="java.lang.String" alias="String"/>
		<typeAlias type="com.stationery.project.users.UsersDTO" alias="UsersDTO"/>
		<typeAlias type="com.stationery.project.users.UsersFileDTO" alias="UsersFileDTO"/>
		<typeAlias type="com.stationery.project.users.WishListDTO" alias="WishListDTO"/>
   		<typeAlias type="com.stationery.project.util.Pager" alias="Pager"/>
   		<typeAlias type="com.stationery.project.board.BoardDTO" alias="BoardDTO"/>
   		<typeAlias type="com.stationery.project.board.BoardFileDTO" alias="BoardFileDTO"/>
   		<typeAlias type="com.stationery.project.board.faq.FaqDTO" alias="FaqDTO"/>
   		<typeAlias type="com.stationery.project.board.notices.NoticesDTO" alias="NoticesDTO"/>
   		<typeAlias type="com.stationery.project.board.notices.NoticesFileDTO" alias="NoticesFileDTO"/>
   		<typeAlias type="com.stationery.project.order.OrderDetailDTO" alias="OrderDetailDTO"/>
   		<typeAlias type="com.stationery.project.order.UsersOrderDTO" alias="UsersOrderDTO"/>
   		<typeAlias type="com.stationery.project.product.ProductDTO" alias="ProductDTO"/>
		<typeAlias type="com.stationery.project.category.CategoryDTO" alias="CategoryDTO"/>
		<typeAlias type="com.stationery.project.product.ProductFileDTO" alias="ProductFileDTO"/>
   		<typeAlias type="com.stationery.project.cart.CartDTO" alias="CartDTO"/>
	</typeAliases>
</configuration>