<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- category parentId에 NULL 넣기 위해 추가했음 --> 
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.stationery.project.product.ProductDTO" alias="ProductDTO"/>
		<typeAlias type="com.stationery.project.category.CategoryDTO" alias="CategoryDTO"/>
		<typeAlias type="com.stationery.project.product.ProductFileDTO" alias="ProductFileDTO"/>
		<typeAlias type="com.stationery.project.util.Pager" alias="Pager"/>
	</typeAliases>
</configuration>