@charset "UTF-8";
.adminBtn >button{
	color: #0f3939;
	background-color: #CEE5D0;
	border: none;
	padding: 10px 10px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  border-radius: 4px;
  margin-top: 10px;
  }
  
  .adminBtn{
    text-align: center;
    padding-top: 10px;
}
/* .other-images {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 250px;
} */
.small-product-image{
	display: block;
	margin:auto;
	margin-bottom: 10px;
}

.product {
  display: flex;
  flex-direction: row;
  
}

.main {
  margin: 30px 10% 0 10%;
}

.right-side {
  width: 100%;
  margin-left: 30px;

}

hr {
  margin: 30px 0 30px 0;
  border-top: 1px dotted;

}

.addToCart {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  padding-left: 10px
}

.piece {
    height: 40px;
    width: 40px;
    margin: 0;
    text-align: center;
    border: 1px solid;
}

  .other-images {  
   margin-top: 60px; 
  }

@media only screen and (max-width: 600px)
{
  .product {
    flex-direction: column;
  }
  
  .other-images {  
   justify-content: center;
   width: 100%;
   margin-top: 60px; 
   display: block; 
   max-width:100%;
  }
  
  .small-product-image {
    margin: 10px 20px;
  }
  
  .right-side {
    margin-left: 0px;
  }
  
  .main-product-image {
    width: 100%;
    height: auto;
  }
  
  .main {
    margin: 30px 5% 0 5%;
  }
  
}

.hidden{
	display: none;
	
}





/* option */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.formrow {
	overflow:hidden;
	position:relative;
	max-width:150px;
	padding: 10px;

}
.checklabel {
	display:block;
	width:100%;
	border:2px solid #000;
	background:#f2f2f2;
	border-radius:2px;
	text-align:center;
	padding:5px;
	font-size:17px;
	border-radius: 6px;
}
.checklabel:hover {
	background:#ddd;
}
.checkbox {
    top: 35px;
    left: 3px;
	position:absolute;
	width: 117px;
	height: 2.2em;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border:none;
	padding:0;
	border-radius:0;
	vertical-align: middle;
	/* background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3e%3cpath d='M448,71.9c-17.3-13.4-41.5-9.3-54.1,9.1L214,344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8 c-15.6,15.5-16.4,41.6-1.7,58.1c0,0,120.4,133.6,137.7,147c17.3,13.4,41.5,9.3,54.1-9.1l206.3-301.7 C469.2,110.9,465.3,85.2,448,71.9z'/%3e%3c/svg%3e");
	background-repeat:no-repeat;
	background-size:cover;
	background-color:transparent;
	background-position:-10em -10em; */
	transition:.3s ease;
	outline:0;
}
.checkbox:focus {
	outline:#0f3939
}

 .checkbox:checked + label{
	border-color:#45d645;
} 
.checkbox:active + label {
	background-color: #ddd;
}
.checkbox:checked {
	background-position: 0 0;
}

/* qna Css */
button.accordion {
	background-color: #FFF;
	cursor: pointer;
	width: 100%;
	border: none;
	font-size: 16px;
	transition: 0.5s;
	text-align: left;
	padding: 10px;
}

button.accordion>p {
	float: left;
	margin-left: 10px;
	width: 76%;
}

button.accordion.active {
	font-weight: bold;
	color: #000;
}

button.accordion:after { 
  background-size:18px;
	display: inline-block;
	width: 18px;
	height: 18px;
	content: "";
	float: right;
	position: relative;
	top: 18px;
}

button.accordion.active:after { 
   content:"";
	
}


#titleArea {
	display: block;
    position: relative;
    height: 45px;
    line-height: 45px;
    /* margin: -20px 0 10px; */
    border-bottom: 1px solid rgba(0,0,0,0.05);
    text-align: center;
    font-size: 13px;
    color: #1e1e1e;
}

#titleArea span img {

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10px;
    width: 25px;
    height: 25px;
    margin-top: -12.5px;
}
