<?xml version="1.0" encoding="UTF-8"?> <!-- 이건 xml이다 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stationery.project.board.faq.FaqDAO">

 	 <select id="list" resultType="FaqDTO">
 	 	SELECT * FROM FAQ
 	 </select>
 	 
 	 <select id="detail" resultType="FaqDTO" parameterType="FaqDTO">
 	 	SELECT * FROM FAQ WHERE NUM=#{num}
 	 </select>
 	 
 	 <insert id="add" parameterType="FaqDTO">
 	 	INSERT INTO FAQ 
		VALUES (FAQ_SEQ.nextval, #{id}, #{title}, #{contents})
 	 </insert>
 	 
 	 <update id="update" parameterType="FaqDTO">
 	 	UPDATE FAQ SET TITLE=#{title}, CONTENTS=#{contents}
 	 	WHERE NUM=#{num}
 	 </update>
 	 
 	 <delete id="delete" parameterType="FaqDTO">
 	 	DELETE FAQ WHERE NUM=#{num}
 	 </delete>
</mapper>