<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.stationery.project.order.OrderDAO">
	<resultMap type="CartDTO" id="CartDTO">
		<id column="cartNum" property="cartNum"/>
		<result column="id" property="id"/>
		<result column="productNum" property="productNum"/>
		<result column="productCount" property="productCount"/>
		<result column="totalPrice" property="totalPrice"/>
		<collection property="usersDTO" resultMap="UsersDTO"/>
		<collection property="productDTO" resultMap="ProductDTO"/>
	</resultMap>
	<resultMap type="UsersDTO" id="UsersDTO">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="phone" property="phone"/>
		<result column="email" property="email"/>
		<result column="joinDate" property="joinDate"/>
		<result column="addressName" property="addressName"/>
		<result column="addressPhone" property="addressPhone"/>
		<result column="postalCode" property="postalCode"/>
		<result column="addressDetail" property="addressDetail"/>
		<result column="userAccount" property="userAccount"/>
	</resultMap>
	<resultMap type="ProductDTO" id="ProductDTO">
		<id column="productNum" property="productNum"/>
		<result column="categoryNum" property="categoryNum"/>
		<result column="name" property="name"/>
		<result column="contents" property="contents"/>
		<result column="thumbnail" property="thumbnail"/>
		<result column="price" property="price"/>
		<result column="stock" property="stock"/>
		<result column="regDate" property="regDate"/>
	</resultMap>
	<select id="order" parameterType="UsersDTO" resultMap="CartDTO">
		SELECT *
		FROM CART C
		LEFT OUTER JOIN
		PRODUCT P
		ON (C.PRODUCTNUM = P.PRODUCTNUM)
		LEFT OUTER JOIN
		USERS U
		ON (C.ID = U.ID)
		WHERE U.ID = #{id}
	</select>

</mapper>