<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
    
<mapper namespace="com.stationery.project.users.UsersDAO">

	<select id="wishlistCk" parameterType="WishListDTO" resultType="WishListDTO">
		SELECT * FROM WISHLIST WHERE ID = #{id} and productNum=#{productNum}
	</select>

	<delete id="deleteWishList" parameterType="WishListDTO">
		DELETE wishlist WHERE ID = #{id} and productnum=#{productNum}
	</delete>

	<insert id="addWishList" parameterType="WishListDTO">
	    insert into wishlist
	    values(wishlist_seq.nextval,#{id},#{productNum})
	</insert>

	<insert id="join" parameterType="UsersDTO">
		INSERT INTO USERS (ID, PW, NAME, PHONE, EMAIL, GENDER, JOINDATE, USERACCOUNT, ADDRESSNAME,
		ADDRESSPHONE, POSTALCODE, ADDRESSDETAIL)
		VALUES (#{id}, #{pw}, #{name}, #{phone}, #{email}, #{gender}, SYSDATE, 1, #{addressName},
		#{addressPhone}, #{postalCode}, #{addressDetail})
	</insert>
	<insert id="joinFile" parameterType="UsersFileDTO">
		INSERT INTO USERS_FILE (FILENUM, ID, FILENAME, ORINAME)
		VALUES (FILE_SEQ.NEXTVAL, #{id}, #{fileName}, #{oriName})
	</insert>
	<select id="idChecker" parameterType="String" resultType="int">
		SELECT COUNT(id) FROM USERS WHERE ID = #{id}
	</select>
	
	<resultMap type="UsersDTO" id="UsersDTO">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="phone" property="phone"/>
		<result column="email" property="email"/>
		<result column="joinDate" property="joinDate"/>
		<result column="addressName" property="addressName"/>
		<result column="addressPhone" property="addressPhone"/>
		<result column="postalCode" property="postalCode"/>
		<result column="addressDetail" property="addressDetail"/>
		<result column="userAccount" property="userAccount"/>
		<association property="usersFileDTO" javaType="usersFileDTO">
			<id column="fileNum" property="fileNum"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</association>
	</resultMap>
	<select id="login" parameterType="UsersDTO" resultMap="UsersDTO">
		SELECT U.*, UF.*
		FROM USERS U
		LEFT OUTER JOIN
		USERS_FILE UF
		ON (U.ID = UF.ID)
		WHERE U.ID = #{id} AND U.PW = #{pw}
	</select>
	<select id="mypage" parameterType="UsersDTO" resultMap="UsersDTO">
		SELECT U.*, UF.*
		FROM USERS U
		    LEFT OUTER JOIN
		    USERS_FILE UF
		ON (U.ID = UF.ID)
		WHERE U.ID = #{id}
	</select>
	
	<update id="infochange" parameterType="UsersDTO">
		{CALL
        DECLARE
        BEGIN
            UPDATE USERS SET PHONE = '', EMAIL = '' WHERE ID = #{id};
            UPDATE USERS SET PHONE = #{phone}, EMAIL = #{email}, ADDRESSNAME = #{addressName},
			ADDRESSPHONE = #{addressPhone}, POSTALCODE = #{postalCode}, ADDRESSDETAIL = #{addressDetail}
			WHERE ID = #{id};
        END
    	}
	</update>
	<insert id="infochangeFile" parameterType="UsersFileDTO">
		INSERT INTO USERS_FILE (FILENUM, ID, FILENAME, ORINAME)
		VALUES (FILE_SEQ.NEXTVAL, #{id}, #{fileName}, #{oriName})
	</insert>
	<delete id="fileDelete" parameterType="UsersFileDTO">
		DELETE USERS_FILE WHERE ID = #{id}
	</delete>
	<update id="pwchange" parameterType="UsersDTO">
		UPDATE USERS SET PW = #{pw} WHERE ID = #{id}
	</update>
	<select id="withdrawal" parameterType="UsersDTO" resultType="UsersDTO">
		SELECT ID FROM USERS WHERE ID = #{id} AND PW = #{pw}
 	</select>
 	<delete id="withdrawalfinal" parameterType="UsersDTO">
 		DELETE USERS WHERE ID = #{id}
 	</delete>
 	
 	<resultMap type="WishListDTO" id="WishListDTO">
 		<id column="wishNum" property="wishNum"/>
 		<result column="id" property="id"/>
 		<result column="productNum" property="productNum"/>
 		<collection property="productDTO" resultMap="ProductDTO"/>
 	</resultMap>
 	<select id="wishlist" parameterType="UsersDTO" resultMap="WishListDTO">
		SELECT * FROM WISHLIST
		NATURAL JOIN
		PRODUCT
		WHERE ID = #{id}
		ORDER BY WISHNUM
	</select>
	
	<resultMap type="UsersOrderDTO" id="UsersOrderDTO">
		<id column="orderNum" property="orderNum"/>
		<result column="id" property="id"/>
		<result column="orderDate" property="orderDate"/>
		<result column="orderCheck" property="orderCheck"/>
		<result column="payCheck" property="payCheck"/>
		<result column="totalPrice" property="totalPrice"/>
		<result column="addressName" property="addressName"/>
		<result column="addressPhone" property="addressPhone"/>
		<result column="addressPostal" property="addressPostal"/>
		<result column="addressDetail" property="addressDetail"/>
		<result column="memo" property="memo"/>
		<result column="cardName" property="cardName"/>
		<result column="cardNum" property="cardNum"/>
		<result column="cardExp" property="cardExp"/>
		<!-- <collection property="payMethodDTO" resultMap="PayMethodDTO"/> -->
		<collection property="orderDetailDTOs" javaType="List" resultMap="OrderDetailDTO"/>
	</resultMap>
	<!-- <resultMap type="PayMethodDTO" id="PayMethodDTO">
		<result column="orderNum" property="orderNum"/>
		<result column="cardName" property="cardName"/>
		<result column="cardNum" property="cardNum"/>
		<result column="cardExp" property="cardExp"/>
	</resultMap> -->
	<resultMap type="OrderDetailDTO" id="OrderDetailDTO">
		<result column="detailNum" property="detailNum"/>
		<result column="orderNum" property="orderNum"/>
		<result column="productNum" property="productNum"/>
		<result column="count" property="count"/>
		<result column="price" property="price"/>
		<result column="name" property="name"/>
		<result column="optionContents" property="optionContents"/>
		<collection property="productDTOs" javaType="List" resultMap="ProductDTO"/>
	</resultMap>
	<resultMap type="ProductDTO" id="ProductDTO">
		<result column="productNum" property="productNum"/>
		<result column="categoryNum" property="categoryNum"/>
		<result column="name" property="name"/>
		<result column="contents" property="contents"/>
		<result column="thumbnail" property="thumbnail"/>
		<result column="price" property="price"/>
		<result column="stock" property="stock"/>
		<result column="regDate" property="regDate"/>
	</resultMap>
	<select id="orderlist" parameterType="UsersDTO" resultType="UsersOrderDTO">
		SELECT ORDERNUM, ORDERDATE, TOTALPRICE, ORDERCHECK, PAYCHECK
		FROM USERS_ORDER
		WHERE ID = #{id}
		ORDER BY ORDERNUM
	</select>
	<select id="orderDetail" parameterType="UsersOrderDTO" resultMap="UsersOrderDTO">
		SELECT UO.*, OD.*, P.*
		FROM USERS_ORDER UO
		LEFT OUTER JOIN
		ORDER_DETAIL OD
		ON (UO.ORDERNUM = OD.ORDERNUM)
		LEFT OUTER JOIN
		PRODUCT P
		ON (OD.PRODUCTNUM = P.PRODUCTNUM)
		WHERE UO.ORDERNUM = #{orderNum}
	</select>
	
	
	<!-- 관리자 페이지 -->
	<select id="usersList" parameterType="UsersDTO" resultType="UsersDTO">
		SELECT ID, NAME, PHONE, EMAIL, GENDER, JOINDATE, USERACCOUNT
		FROM USERS
		ORDER BY JOINDATE ASC
	</select>
	<select id="usersDetail" parameterType="UsersDTO" resultMap="UsersDTO">
		SELECT U.*, UF.*
		FROM USERS U
		    LEFT OUTER JOIN
		    USERS_FILE UF
		ON (U.ID = UF.ID)
		WHERE U.ID = #{id}
	</select>
	<select id="usersOrderList" parameterType="UsersOrderDTO" resultType="UsersOrderDTO">
		SELECT ORDERNUM, ID, ORDERDATE, ORDERCHECK, PAYCHECK, TOTALPRICE, MEMO
		FROM USERS_ORDER
		ORDER BY ORDERNUM ASC
	</select>
	
	<select id="usersOrderDetail" parameterType="UsersOrderDTO" resultMap="UsersOrderDTO">
		<!-- SELECT UO.*, OD.*
		FROM USERS_ORDER UO
		LEFT OUTER JOIN
		ORDER_DETAIL OD
		ON (UO.ORDERNUM = OD.ORDERNUM)
		WHERE UO.ORDERNUM = #{orderNum} -->
		SELECT UO.*, OD.*, P.*
		FROM USERS_ORDER UO
		LEFT OUTER JOIN
		ORDER_DETAIL OD
		ON (UO.ORDERNUM = OD.ORDERNUM)
		LEFT OUTER JOIN
		PRODUCT P
		ON (OD.PRODUCTNUM = P.PRODUCTNUM)
		WHERE UO.ORDERNUM = #{orderNum}
		<!-- LEFT OUTER JOIN
		PAY_METHOD PM
		ON (UO.ORDERNUM = PM.ORDERNUM) -->
		
	</select>
	
	<select id="usersOrderProduct" parameterType="OrderDetailDTO" resultMap="OrderDetailDTO">
		SELECT * FROM ORDER_DETAIL
		WHERE ORDERNUM = #{orderNum}
	</select>
</mapper>