<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.stationery.project.users.UsersDAO">
	<insert id="join" parameterType="UsersDTO">
		INSERT INTO USERS (ID, PW, NAME, PHONE, EMAIL, GENDER, JOINDATE, USERACCOUNT, ADDRESSNAME,
		ADDRESSPHONE, POSTALCODE, ADDRESSDETAIL)
		VALUES (#{id}, #{pw}, #{name}, #{phone}, #{email}, #{gender}, SYSDATE, 1, #{addressName},
		#{addressPhone}, #{postalCode}, #{addressDetail})
	</insert>
	<select id="login" parameterType="UsersDTO" resultType="UsersDTO">
		SELECT ID, NAME FROM USERS WHERE ID = #{id} AND PW = #{pw}
	</select>


</mapper>